body {
  font-family: 'Roboto', sans-serif;
}
/* utilities */

/* header */
.navbar-default {
  background-color: #fff;
  margin: 0;
  border: 0;
}
.navbar-header img {
  width: 180px;
  padding: 22px 15px;
}
.main-header .navbar-nav > li > a {
  line-height: 80px;
  padding: 0 15px;
  color: #1a1b4f;
}
.navbar-center {
  margin-left: 150px;
}
.main-header .navbar-nav > li > a > i {
  position: relative;
  top: 1px;
}
.main-header .navbar-nav li button {
  border-color: rgb(104, 140, 249);
  color: rgb(104, 140, 249);
}
/* jumbotron */
.jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
}
.jumbotron h1 {
  font-size: 55px;
  color: #fff;
}
.jumbo-left p {
  color: lightgrey;
}
/* form */
.jumbo-right form {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
  position: relative;
}
.jumbo-right form h4 {
  font-size: 25px;
}
.jumbo-right form h3 {
  color: #006aff;
}
.jumbo-right p {
  font-size: 12px;
  margin-top: 10px;
}
.jumbo-right p a {
  text-decoration: underline;
}
/* .jumbo-right .btn-default {
  position: relative;
} */
.jumbo-right img {
  width: 25px;
  position: absolute;
  left: 20px;
  bottom: 64px;
}


@media screen and (max-width: 1199px) {
  .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 15%;
    }

  .via {
        display: none;
    }
  .navbar-toggle {

    }
}
